
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: url('../pictures/landingbg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
  box-sizing: border-box;
}








/* Landing card */
.landing-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  width: 380px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 1;
  margin-top: 40px;
}

.landing-title {
  font-size: 26px;
  color: #1e88e5;
  margin-bottom: 10px;
  font-weight: 600;
}

.landing-subtitle {
  font-size: 14px;
  color: #607d8b;
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.btn-clinic {
  background: #1e88e5;
  color: #ffffff;
}

.btn-clinic:hover {
  background: #1565c0;
}

.btn-log {
  background: #ffffff;
  color: #1e88e5;
  border: 2px solid #1e88e5;
}

.btn-log:hover {
  background: #e3f2fd;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #90a4ae;
}
