#report-data { display: none; }
.page {
            width: 210mm;
            min-height: 297mm;
            padding: 20mm;
            margin: 10mm auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
            
            background-image: var(--report-bg-url); 
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
        }

        .print-template {
            display: none;
        }

        @media print {
            @page {
                size: A4;
                margin: 0;
            }

            body {
                background: none;
                margin: 0;
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }

            .main-content, .sidebar, .header, .table-controls, .no-print {
                display: none !important;
            }

            .print-template {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                visibility: visible;
            }

            .page {
                width: 100%;
                height: 100%;
                margin: 0;
                box-shadow: none;
                
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
                background-image: var(--report-bg-url) !important; 
            }
        }


.image-preloader {
  background-image: var(--report-bg-url);
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}




